useDynLib(yaConsensus, .registration = TRUE)
importFrom("grDevices", "colorRampPalette", "colors", "palette", "nclass.Sturges")
importFrom("stats", "as.dist", "cutree", "dist", "hclust", "ecdf")
importFrom("graphics", "layout", "lines", "par", "text")
import("foreach")
import("pheatmap")
import("doParallel")
export(yaConsensus, consensus.diss, monti)
S3method(plot,  yaConsensus)
S3method(print,  yaConsensus)
S3method(summary,  yaConsensus)
S3method(print,  yaConsensus_plot)
S3method(summary,  yaConsensus_plot)

